ul li{display: inline-block; }
li a{text-decoration: none;background-color:#c0392b ; color: #fff; padding:1px 3px;}
li a:hover{background:#e74c3c ; border: 1px solid #000; border-radius: 4px;}
.mother{ height: 150px; width: 100%;display: flex; gap: 10px;}
.mother div{background-color:#27ae60 ; flex-basis: 25%;  color: #fff;}